img {
    display: block;
    width: 100%;
  }
  
  .gallery {
    padding: 100px 156px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
  }
  
  .list-item {
    width: calc((100% - 2*24px)/3);
    list-style-type: none;
  }